# Football Analysis for UBS - United Billionaires Superheroes

This is an analysis to explore the possibility of investing in football.

We will try to find out what makes a good team. What are the features we need to take into account when building a team to win games.

### Import libraries

In [2]:
import pandas as pd
import sqlite3

sqlite_file = './database.sqlite'
conn = sqlite3.connect(sqlite_file)

### Exploration of team features

In [38]:
team_attributes = pd.read_sql_query(
    '''
    SELECT *
    FROM Team_Attributes
    ''', conn, parse_dates=['date']
)
# Display the first few records
team_attributes.head()

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19,52,Balanced,48.0,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10,47,Balanced,41.0,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22,70,Fast,NaN,Little,70,Long,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22,47,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [39]:
# Display some basic statistics
team_attributes.describe()

,id,team_fifa_api_id,team_api_id,buildUpPlaySpeed,buildUpPlayDribbling,buildUpPlayPassing,chanceCreationPassing,chanceCreationCrossing,chanceCreationShooting,defencePressure,defenceAggression,defenceTeamWidth
count,1458.000000,1458.000000,1458.000000,1458.000000,489.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000
mean,729.500000,17706.982167,9995.727023,52.462277,48.607362,48.490398,52.165295,53.731824,53.969136,46.017147,49.251029,52.185871
std,421.032659,39179.857739,13264.869900,11.545869,9.678290,10.896101,10.360793,11.086796,10.327566,10.227225,9.738028,9.574712
min,1.000000,1.000000,1601.000000,20.000000,24.000000,20.000000,21.000000,20.000000,22.000000,23.000000,24.000000,29.000000
25%,365.250000,110.000000,8457.750000,45.000000,42.000000,40.000000,46.000000,47.000000,48.000000,39.000000,44.000000,47.000000
50%,729.500000,485.000000,8674.000000,52.000000,49.000000,50.000000,52.000000,53.000000,53.000000,45.000000,48.000000,52.000000
75%,1093.750000,1900.000000,9904.000000,62.000000,55.000000,55.000000,59.000000,62.000000,61.000000,51.000000,55.000000,58.000000
max,1458.000000,112513.000000,274581.000000,80.000000,77.000000,80.000000,80.000000,80.000000,80.000000,72.000000,72.000000,73.000000

In [40]:
# Display values for categorical features
print(team_attributes.buildUpPlaySpeedClass.value_counts())
print(team_attributes.buildUpPlayDribblingClass.value_counts())
print(team_attributes.buildUpPlayPassingClass.value_counts())
print(team_attributes.chanceCreationShootingClass.value_counts())
print(team_attributes.chanceCreationPositioningClass.value_counts())
print(team_attributes.defencePressureClass.value_counts())
print(team_attributes.defenceAggressionClass.value_counts())
print(team_attributes.defenceTeamWidthClass.value_counts())
print(team_attributes.defenceDefenderLineClass.value_counts())

Balanced    1184
Fast         172
Slow         102
Name: buildUpPlaySpeedClass, dtype: int64
Little    1004
Normal     433
Lots        21
Name: buildUpPlayDribblingClass, dtype: int64
Mixed    1236
Short     128
Long       94
Name: buildUpPlayPassingClass, dtype: int64
Normal    1224
Lots       197
Little      37
Name: chanceCreationShootingClass, dtype: int64
Organised    1309
Free Form     149
Name: chanceCreationPositioningClass, dtype: int64
Medium    1243
Deep       154
High        61
Name: defencePressureClass, dtype: int64
Press      1274
Double       99
Contain      85
Name: defenceAggressionClass, dtype: int64
Normal    1286
Wide       111
Narrow      61
Name: defenceTeamWidthClass, dtype: int64
Cover           1362
Offside Trap      96
Name: defenceDefenderLineClass, dtype: int64

### Exploration of matches

In [41]:
matches = pd.read_sql_query(
    '''
    SELECT *
    FROM Match
    ''', conn, parse_dates=['date']
)
# Display the first few records
matches.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [42]:
# List all the columns
matches.columns.values

array(['id', 'country_id', 'league_id', 'season', 'stage', 'date',
       'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal', 'away_team_goal', 'home_player_X1',
       'home_player_X2', 'home_player_X3', 'home_player_X4',
       'home_player_X5', 'home_player_X6', 'home_player_X7',
       'home_player_X8', 'home_player_X9', 'home_player_X10',
       'home_player_X11', 'away_player_X1', 'away_player_X2',
       'away_player_X3', 'away_player_X4', 'away_player_X5',
       'away_player_X6', 'away_player_X7', 'away_player_X8',
       'away_player_X9', 'away_player_X10', 'away_player_X11',
       'home_player_Y1', 'home_player_Y2', 'home_player_Y3',
       'home_player_Y4', 'home_player_Y5', 'home_player_Y6',
       'home_player_Y7', 'home_player_Y8', 'home_player_Y9',
       'home_player_Y10', 'home_player_Y11', 'away_player_Y1',
       'away_player_Y2', 'away_player_Y3', 'away_player_Y4',
       'away_player_Y5', 'away_player_Y6', 'away_player_Y7',
       'away_player_Y8', 'away_player_Y9', 'away_player_Y10',
       'away_player_Y11', 'home_player_1', 'home_player_2',
       'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6',
       'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10',
       'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3',
       'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7',
       'away_player_8', 'away_player_9', 'away_player_10',
       'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card',
       'cross', 'corner', 'possession', 'B365H', 'B365D', 'B365A', 'BWH',
       'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH',
       'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA'], dtype=object)

In [43]:
# Remove all player columns. Which we won't be using at this point
matches = matches.drop(['home_player_X1',
       'home_player_X2', 'home_player_X3', 'home_player_X4',
       'home_player_X5', 'home_player_X6', 'home_player_X7',
       'home_player_X8', 'home_player_X9', 'home_player_X10',
       'home_player_X11', 'away_player_X1', 'away_player_X2',
       'away_player_X3', 'away_player_X4', 'away_player_X5',
       'away_player_X6', 'away_player_X7', 'away_player_X8',
       'away_player_X9', 'away_player_X10', 'away_player_X11',
       'home_player_Y1', 'home_player_Y2', 'home_player_Y3',
       'home_player_Y4', 'home_player_Y5', 'home_player_Y6',
       'home_player_Y7', 'home_player_Y8', 'home_player_Y9',
       'home_player_Y10', 'home_player_Y11', 'away_player_Y1',
       'away_player_Y2', 'away_player_Y3', 'away_player_Y4',
       'away_player_Y5', 'away_player_Y6', 'away_player_Y7',
       'away_player_Y8', 'away_player_Y9', 'away_player_Y10',
       'away_player_Y11', 'home_player_1', 'home_player_2',
       'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6',
       'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10',
       'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3',
       'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7',
       'away_player_8', 'away_player_9', 'away_player_10',
       'away_player_11'], axis=1)
matches.columns.values

array(['id', 'country_id', 'league_id', 'season', 'stage', 'date',
       'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal', 'away_team_goal', 'goal', 'shoton', 'shotoff',
       'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H',
       'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH',
       'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH',
       'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH',
       'BSD', 'BSA'], dtype=object)

In [44]:
# display some basic statistics
matches.describe()

,id,country_id,league_id,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,B365H,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
count,25979.000000,25979.000000,25979.000000,25979.000000,2.597900e+04,25979.000000,25979.000000,25979.000000,25979.000000,22592.000000,...,17097.000000,22568.000000,22568.000000,22568.000000,14162.000000,14162.000000,14162.000000,14161.000000,14161.000000,14161.000000
mean,12990.000000,11738.630317,11738.630317,18.242773,1.195429e+06,9984.371993,9984.475115,1.544594,1.160938,2.628818,...,4.622343,2.668107,3.899048,4.840281,2.498764,3.648189,4.353097,2.497894,3.660742,4.405663
std,7499.635658,7553.936759,7553.936759,10.407354,4.946279e+05,14087.453758,14087.445135,1.297158,1.142110,1.794463,...,3.632164,1.928753,1.248221,4.318338,1.489299,0.867440,3.010189,1.507793,0.868272,3.189814
min,1.000000,1.000000,1.000000,1.000000,4.831290e+05,1601.000000,1601.000000,0.000000,0.000000,1.040000,...,1.100000,1.030000,1.620000,1.080000,1.050000,1.450000,1.120000,1.040000,1.330000,1.120000
25%,6495.500000,4769.000000,4769.000000,9.000000,7.684365e+05,8475.000000,8475.000000,1.000000,0.000000,1.670000,...,2.500000,1.700000,3.300000,2.550000,1.670000,3.200000,2.500000,1.670000,3.250000,2.500000
50%,12990.000000,10257.000000,10257.000000,18.000000,1.147511e+06,8697.000000,8697.000000,1.000000,1.000000,2.100000,...,3.500000,2.150000,3.500000,3.500000,2.100000,3.300000,3.400000,2.100000,3.400000,3.400000
75%,19484.500000,17642.000000,17642.000000,27.000000,1.709852e+06,9925.000000,9925.000000,2.000000,2.000000,2.800000,...,5.250000,2.800000,4.000000,5.400000,2.650000,3.750000,5.000000,2.620000,3.750000,5.000000
max,25979.000000,24558.000000,24558.000000,38.000000,2.216672e+06,274581.000000,274581.000000,10.000000,9.000000,26.000000,...,41.000000,36.000000,26.000000,67.000000,21.000000,11.000000,34.000000,17.000000,13.000000,34.000000

In [45]:
# seasons
matches.season.value_counts()

2015/2016    3326
2008/2009    3326
2014/2015    3325
2012/2013    3260
2010/2011    3260
2009/2010    3230
2011/2012    3220
2013/2014    3032
Name: season, dtype: int64

### Merge both dataframes

In order to better analyse the matches we need the team features.

The team features are in the `team_attributes` table.

Also, the features depend on a date. The matches depend on a season and date.

We are going to create the `season` column in the `team_attributes` table

In [50]:
import datetime

def date_to_season(date):
    if (date < datetime.datetime(2009, 6, 30)):
        return '2008/2009'
    elif (date < datetime.datetime(2009, 6, 30)):
        return '2009/2010'
    elif (date < datetime.datetime(2009, 6, 30)):
        return '2010/2011'
    elif (date < datetime.datetime(2009, 6, 30)):
        return '2011/2012'
    elif (date < datetime.datetime(2009, 6, 30)):
        return '2012/2013'
    elif (date < datetime.datetime(2009, 6, 30)):
        return '2013/2014'
    elif (date < datetime.datetime(2009, 6, 30)):
        return '2014/2015'
    else:
        return '2015/2016'

In [51]:
team_attributes['season'] = team_attributes.date.apply(date_to_season)
team_attributes.head()

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass,season
0,1,434,9930,2010-02-22,60,Balanced,NaN,Little,50,Mixed,...,Normal,Organised,50,Medium,55,Press,45,Normal,Cover,2015/2016
1,2,434,9930,2014-09-19,52,Balanced,48.0,Normal,56,Mixed,...,Normal,Organised,47,Medium,44,Press,54,Normal,Cover,2015/2016
2,3,434,9930,2015-09-10,47,Balanced,41.0,Normal,54,Mixed,...,Normal,Organised,47,Medium,44,Press,54,Normal,Cover,2015/2016
3,4,77,8485,2010-02-22,70,Fast,NaN,Little,70,Long,...,Lots,Organised,60,Medium,70,Double,70,Wide,Cover,2015/2016
4,5,77,8485,2011-02-22,47,Balanced,NaN,Little,52,Mixed,...,Normal,Organised,47,Medium,47,Press,52,Normal,Cover,2015/2016

In [56]:
# Check that there are no 2 attributes per season per team
grouped_teams_season = team_attributes.groupby(['id', 'season'])['id'].count()
grouped_teams_season[grouped_teams_season > 1]

Series([], Name: id, dtype: int64)

In [58]:
matches_home_team = matches.merge(team_attributes, how='inner', left_on=['season', 'home_team_api_id'], right_on=['season', 'team_api_id'])
matches_home_team.head()

,id_x,country_id,league_id,season,stage,date_x,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1489,1,1,2015/2016,1,2015-07-24,1979832,9997,8342,2,...,50,Normal,Organised,50,Medium,50,Press,50,Normal,Cover
1,1489,1,1,2015/2016,1,2015-07-24,1979832,9997,8342,2,...,53,Normal,Organised,46,Medium,46,Press,46,Normal,Cover
2,1489,1,1,2015/2016,1,2015-07-24,1979832,9997,8342,2,...,47,Normal,Organised,32,Deep,40,Press,41,Normal,Cover
3,1504,1,1,2015/2016,10,2015-10-03,1979903,9997,8475,1,...,50,Normal,Organised,50,Medium,50,Press,50,Normal,Cover
4,1504,1,1,2015/2016,10,2015-10-03,1979903,9997,8475,1,...,53,Normal,Organised,46,Medium,46,Press,46,Normal,Cover

In [67]:
matches_teams = matches_home_team.merge(team_attributes, how='inner', left_on=['season', 'away_team_api_id'], right_on=['season', 'team_api_id'])
matches_teams.columns.values

array(['id_x', 'country_id', 'league_id', 'season', 'stage', 'date_x',
       'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal', 'away_team_goal', 'goal', 'shoton', 'shotoff',
       'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H',
       'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH',
       'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH',
       'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH',
       'BSD', 'BSA', 'id_y', 'team_fifa_api_id_x', 'team_api_id_x',
       'date_y', 'buildUpPlaySpeed_x', 'buildUpPlaySpeedClass_x',
       'buildUpPlayDribbling_x', 'buildUpPlayDribblingClass_x',
       'buildUpPlayPassing_x', 'buildUpPlayPassingClass_x',
       'buildUpPlayPositioningClass_x', 'chanceCreationPassing_x',
       'chanceCreationPassingClass_x', 'chanceCreationCrossing_x',
       'chanceCreationCrossingClass_x', 'chanceCreationShooting_x',
       'chanceCreationShootingClass_x', 'chanceCreationPositioningClass_x',
       'defencePressure_x', 'defencePressureClass_x',
       'defenceAggression_x', 'defenceAggressionClass_x',
       'defenceTeamWidth_x', 'defenceTeamWidthClass_x',
       'defenceDefenderLineClass_x', 'id', 'team_fifa_api_id_y',
       'team_api_id_y', 'date', 'buildUpPlaySpeed_y',
       'buildUpPlaySpeedClass_y', 'buildUpPlayDribbling_y',
       'buildUpPlayDribblingClass_y', 'buildUpPlayPassing_y',
       'buildUpPlayPassingClass_y', 'buildUpPlayPositioningClass_y',
       'chanceCreationPassing_y', 'chanceCreationPassingClass_y',
       'chanceCreationCrossing_y', 'chanceCreationCrossingClass_y',
       'chanceCreationShooting_y', 'chanceCreationShootingClass_y',
       'chanceCreationPositioningClass_y', 'defencePressure_y',
       'defencePressureClass_y', 'defenceAggression_y',
       'defenceAggressionClass_y', 'defenceTeamWidth_y',
       'defenceTeamWidthClass_y', 'defenceDefenderLineClass_y'], dtype=object)

In [69]:
# Rename columns `_x` to `_home` and `_y` to `_away`
matches_teams.columns = [ col.replace('_y', '_away').replace('_x', '_home') for col in matches_teams.columns.values ]
matches_teams.columns.values

array(['id_home', 'country_id', 'league_id', 'season', 'stage',
       'date_home', 'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal', 'away_team_goal', 'goal', 'shoton', 'shotoff',
       'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H',
       'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH',
       'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH',
       'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH',
       'BSD', 'BSA', 'id_away', 'team_fifa_api_id_home',
       'team_api_id_home', 'date_away', 'buildUpPlaySpeed_home',
       'buildUpPlaySpeedClass_home', 'buildUpPlayDribbling_home',
       'buildUpPlayDribblingClass_home', 'buildUpPlayPassing_home',
       'buildUpPlayPassingClass_home', 'buildUpPlayPositioningClass_home',
       'chanceCreationPassing_home', 'chanceCreationPassingClass_home',
       'chanceCreationCrossing_home', 'chanceCreationCrossingClass_home',
       'chanceCreationShooting_home', 'chanceCreationShootingClass_home',
       'chanceCreationPositioningClass_home', 'defencePressure_home',
       'defencePressureClass_home', 'defenceAggression_home',
       'defenceAggressionClass_home', 'defenceTeamWidth_home',
       'defenceTeamWidthClass_home', 'defenceDefenderLineClass_home', 'id',
       'team_fifa_api_id_away', 'team_api_id_away', 'date',
       'buildUpPlaySpeed_away', 'buildUpPlaySpeedClass_away',
       'buildUpPlayDribbling_away', 'buildUpPlayDribblingClass_away',
       'buildUpPlayPassing_away', 'buildUpPlayPassingClass_away',
       'buildUpPlayPositioningClass_away', 'chanceCreationPassing_away',
       'chanceCreationPassingClass_away', 'chanceCreationCrossing_away',
       'chanceCreationCrossingClass_away', 'chanceCreationShooting_away',
       'chanceCreationShootingClass_away',
       'chanceCreationPositioningClass_away', 'defencePressure_away',
       'defencePressureClass_away', 'defenceAggression_away',
       'defenceAggressionClass_away', 'defenceTeamWidth_away',
       'defenceTeamWidthClass_away', 'defenceDefenderLineClass_away'], dtype=object)